[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "designmatch"]
	path = designmatch
	url = https://github.com/jrzubizarreta/designmatch
